img{
    margin: 2em 0;
    width: 10rem;
    height: 10rem;
  }
  #bio {
      margin: 2em 0;
  }
  .userinfo {
      text-align: center;
  }
  @media only screen and (min-width: 992px) {
      .name {
        margin-top: 25px;
        margin-left: 25px;
        width: 100%;
        text-align: left;
        order: 1;
      }
      #bio {
        margin: 2em 0 0 2em;
        order: 2;
      }
      img{
        margin: 0 25px 0 0;
        width: 10rem;
        height: 10rem;
        order: 3;
      }
      .userinfo {
          width: 100%;
          margin-left: 72px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          
      }
 }