#searchBox {
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .tags {
    display: flex;
    justify-content: space-evenly;
  }
  
  #searchBar {
    width: 92%;
    height: 20px;
    border-radius: 20px;
    border: 0;
    box-shadow: 3px 3px 3px #943012;
    padding-left: 8px;
  }
  
  .tag {
    background-color: rgb(255, 255, 255);
    height: 20px;
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
    box-shadow: 3px 3px 3px #943012;
  }
  
  .tagBox {
      height: 40px;
  }
  
  @media only screen and (min-width: 992px) {
    #searchBar {
      width: 750px;
      height: 20px;
    }
  
    #searchBox {
      margin-top: 10px;
    }
  
    .tagBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .tags {
      justify-content: left;
      width: 750px;
    }
  
    .tag {
      margin-right: 10px;
    }
  }
