* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

form > input {
  width: 100%;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid #303030 1px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

form > input:last-of-type {
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

form > h2 {
  margin-bottom: 0.9rem;
}

form > label {
  font-size: 0.8rem;
  color: #303030;
}

form > textarea {
  width: 100%;
  padding: 0.9rem;
  border: solid #303030 1px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.commentButton {
  height: 2rem;
  width: 20%;
  color: white;
  background-color: #f6511d;
  border: solid #f6511d 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.commentInput {
  height: 2rem;
  width: 80%;
  padding-left: 1rem;
  border: solid #f6511d 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 1rem;
}

.heart {
  cursor: pointer;
  position: absolute;
  left: 2.2rem;
  top: 21.75rem;
  z-index: 1;
}

.likeVal {
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 21.49rem;
  color: #a6a7a6;
  font-size: 0.8rem;
  padding-bottom: 0.4rem;
  padding-left: 2.5rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  border-radius: 10px;
  background-color: white;
}

.deleteButton {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 21.49rem;
  color: #a6a7a6;
  font-size: 0.8rem;
  padding-bottom: 0.4rem;
  padding-left: 2.9rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  border-radius: 10px;
  background-color: white;
}

.editButton {
  cursor: pointer;
  position: absolute;
  right: 3.73rem;
  top: 21.49rem;
  z-index: 1;
  color: #a6a7a6;
  font-size: 0.8rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.4rem;
}

.editBG {
  width: 20px;
  height: 20px;
}

.liked {
  color: #f6511d;
}



.postInfo {
  margin-top: 0.3rem;
  text-align: left;
  font-size: 0.8rem;

  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  border-bottom: solid #d8d8d8 1px;
}

.topBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f6511d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.topBar a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Staatliches", cursive;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f6511d;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 2;
}

.navbar div {
  float: left;
  width: 25%;
}
.navIcon {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 4rem;
  flex-wrap: wrap;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

#openModal {
  display: flex;
}

#close {
  display: flex;
}

.modalDialog > div {
  width: 20rem;
  position: relative;
  margin: auto auto;
  padding: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.582);
}

.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #f6511d;
}

.post {
  padding: 0.1rem 0.2rem;
}

.empty {
  height: 65.6px;
  width: 100%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #f6511d;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-family: "Staatliches", cursive;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin: 1rem;
  margin-left: 50%;
  font-family: "Staatliches", cursive;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #f6511d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f6511d;
  color: #ffffff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #e64a19;
}

.postItem {
  list-style-type: none;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 5px #f6511d;
  border-radius: 8px;
  background-color: white;
  width: 21.2rem;
  border: solid #f6511d 1px;
  height: 100%;
}

.postItem h2 {
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  color: #343332;
}

b {
  color: #343332;
}

.postItem p {
}

.hide {
  display: none !important;
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
}

.modal img {
  display: block;
  width: 90vw;
  margin: auto;
  padding-top: 10vh;
}

.close-image {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #fff;
  text-shadow: #000;
  font-size: 2em;
}

h4 {
  text-align: left;
  margin-bottom: 0.5rem;
  color: #a6a7a6;
  width: 35%;
  float: left;
  font-size: 0.8rem;
  overflow: hidden;
}

h4 + h4 {
  width: 65%;
  text-align: right;
  overflow: hidden;
  height: 15px;
}

h4:last-child {
  width: 100%;
  text-align: right;
  font-size: 0.7rem;
  position: absolute;
  right: 1.1rem;
  bottom: 0.1rem;
}

.postItem .comment {
  font-size: 1rem;
}

.postItem div {
  margin: 1rem 0;
  text-align: left;
  display: none;
}

.showComments {
  border: none;
  background-color: #ffffff;
  color: #606061;
  margin: auto;
  display: block;
  padding: 0.5rem 0;
}

.showComments:hover {
  color: #000000;
  cursor: pointer;
}

.showComments:active {
  border: none;
  outline: none;
}

.showComments:focus {
  border: none;
  outline: none;
}

.postItem .commentTime {
  font-size: 0.6rem;
  color: #606061;
}

.postItem div p button {
  margin-left: 0.5rem;
  border: none;
  background-color: #ffffff;
  color: #606061;
  font-size: 0.6rem;
}

.postItem div p button:hover {
  color: #000000;
  cursor: pointer;
}

.postItem div p button:active {
  border: none;
  outline: none;
}

.postItem div p button:focus {
  border: none;
  outline: none;
}

@media only screen and (min-width: 992px) {
  .navbar div {
    float: none;
    width: auto;
  }

  .modal img {
    width: 80vh;
  }

  .content {
    padding-right: 70px;
    padding-left: 70px;
    width: 100vw;
    display: flex;
    padding-bottom: 0;
  }

  .navbar {
    flex-direction: column;
    width: auto;
    height: 100%;
  }
}
