.profilePic {
  max-width: 100%;
  border-radius: 5px;
}

#imageArea {
  max-width: 15rem;
  max-height: 350px;
}

#button-container {
  display: flex;
  justify-content: right;
  margin: 1rem;
}

#bio {
  border: solid #f6511d 1px;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  max-width: 25rem;
  overflow: hidden;
}

.container {
  flex-direction: column;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-family: "Staatliches", cursive;
  font-size: 3em;
  text-align: center;
  background-color: #f6511d;
  color: white;
  border-radius: 5px;
  width: 100%;
  max-width: 25rem;
  min-width: 20rem;
}

#infoArea {
  max-width: 26rem;
  position: relative;
  padding: 1rem;
}

#editModal {
  display: flex;
}

#Edit {
  cursor: pointer;
  color: white;
  background-color: #f6511d;
  border: solid #f6511d 1px;
  text-align: center;
  border-radius: 5px;
  padding: 0.8rem;
}

.postHeader {
  margin: 3rem 3rem 1rem 3rem;
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 3em;
  background-color: #f6511d;
  color: white;
  border-radius: 5px;
}

ul {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  .userinfo {
    display: block;
  }

  #imageArea {
    max-width: 50%;
    width: 50%;
    float: right;
    max-height: 25rem;
  }

  .profilePic {
    max-width: 90%;
    float: left;
    max-height: 25rem;
  }

  .holder {
    float: right;
    width: 25rem;
  }

  .name {
    float: right;
    width: 25rem;
  }

  #bio {
    float: right;
    width: 25rem;
  }

  .userinfo {
    width: 100%;
  }

  #infoArea {
    max-width: 50%;
    position: relative;
    padding: 1rem;
  }
}
