body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

#map {
  width: 100%;
  height: calc(100vh - 66px);
}

.log-out > .fas {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.73);
}

.mapbox-marker-drag-icon-step {
  background-color: green !important;
}

.navIcon log-out {
  padding: 0px;
}


.mapboxgl-popup-content{
  text-align: center;
  padding: 0px;
  -moz-box-shadow:    2px 5px 5px 1px #191a1a;
  -webkit-box-shadow: 2px 5px 5px 1px #191a1a;
  box-shadow:         2px 5px 5px 1px #191a1a;
  border-radius: 15px;
  padding-bottom: 7px;
}

.directions-control.directions-control-directions{
  visibility: hidden !important;
}

.mapboxgl-user-location-dot, .mapboxgl-user-location-dot::before {
  background-color: #f6511d !important;
}

.mapbox-form-label {
  background: #f6511d !important;
}

.mapbox-directions-origin .mapbox-form-label {
  background-color: #454545 !important;
}

.mapboxgl-popup-close-button{
  right: 5px;
  padding:10px;
}

.mapboxgl-ctrl-directions{
  visibility: collapse;
}

.markerImg {
  width: 100%;
  position: relative;
  z-index: 0;
}

.markerHeader {
  text-transform: uppercase;
  background-color: #343332;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  margin-top: 10px;
  margin-bottom: 8px;
}

#srcIcon {
  color: grey;
}

#searchBox {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.tags {
  display: flex;
  justify-content: space-evenly;
}

#searchBar {
  width: 80%;
  height: 24px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: 0;
  box-shadow: 3px 3px 3px #943012;
  padding-left: 8px;
}

#searchBtn {
  height: 24px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 0;
  box-shadow: 3px 3px 3px #943012;
  padding-left: 20px;
  padding-right: 20px;
}

.tag {
  background-color: rgb(255, 255, 255);
  height: 20px;
  border-radius: 20px;
  padding-left: 7px;
  padding-right: 7px;
  box-shadow: 3px 3px 3px #943012;
}

.tagBox {
    height: 40px;
}

.mapboxgl-ctrl-top-right {
  visibility: hidden
}

@media only screen and (min-width: 992px) {
  #searchBar {
    width: 750px;
  }

  .tagBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tags {
    justify-content: left;
    width: 750px;
  }

  .tag {
    margin-right: 10px;
  }

  #map {
    width: calc(100% - 72px);
    height: 100vh;
    float: right;
  }

  .content {
    display: inline;
  }
}